.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
}

li {
  position: relative;
  padding-left: 20px;
  border-left: 1px solid #bab5f8;
  padding-bottom: 0.6rem;
}

li a {
  padding-bottom: 0.6rem;
}

li:last-child {
  border: 0px;
}

li ul {
  margin-left: 1.5rem;
  margin-top: 10px;
}

li::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 1px solid #4e5ed3;
  position: absolute;
  box-shadow: 3px 3px 0px #bab5f8;
  left: -10px;
  top: 0px;
}
